<!DOCTYPE html>
<html>
  <head>
    <!--   
       Home     -> 'base_title'
       Home以外 -> '追加 | base_title'
    -->
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %> 
    <%= render 'layouts/shim' %> 
  </head>
  <body>
    <%= render 'layouts/header' %> 
    <div class="container">
      <% flash.each do |message_type, message| %>
        <!--div class="alert alert- -->
        <!--%= message_type %>" -->
        <!--%= message % -->
        <!--/div-->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
